<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результат поиска</title>
    <link href="{{url_for('static', filename='sem2.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
{% if user %}
{% endif %}
    <div class="container">
        <br>
        <header class="header-primary">
            <h1 style="font-weight: bolder;">Банк "Прогресс"</h1>
        </header>
        <nav class="navigation-primary" aria-label="Primary">
            <ul>
                <li> <a href="{{url_for('bp_auth.form_menu')}}">Вернуться в главное меню</a></li>
                <li><a href="{{url_for('bp_auth.sign_out')}}">Выход из системы</a></li>
            </ul>
        </nav>
    <center>
        <h2>{{title}}</h2>
    <table>
        <tr class="tab_title">
            <th>Номер счёта</th>
            <th>Валюта счёта</th>
            <th>Баланс</th>
            <th>Дата изменения баланса</th>
        </tr>
        {% for item in client %}
        <tr>
            <td>{{item['bill_number']}}</td>
            <td>{{item['currency']}}</td>
            <td>{{item['balance']}}</td>
            <td>{{item['new_balance_date']}}</td>
        </tr>
        {% endfor %}
    </table>
        <br>
        <br>
    <!--<a class="button" href="{{url_for('bp_query.query_menu')}}">Общий поиск</a>-->
    </center>
    </div>
</body>
</html>
