<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск клиентов</title>
    <link href="{{url_for('static', filename='sem2.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <br>
        <header class="header-primary">
            <h1 style="font-weight: bolder;">Банк "Прогресс"</h1><center><h2>Поиск клиентов</h2></center>
        </header>
        <nav class="navigation-primary" aria-label="Primary">
            <ul>

                <li> <a href="{{url_for('bp_auth.form_menu')}}">Вернуться в главное меню</a></li>
                <li><a href="{{url_for('bp_auth.sign_out')}}">Выход из системы</a></li>

            </ul>
        </nav>
        <center>
        <div class="content-container">
            <h2>Выберите параметры поиска:</h2>
            <form action="" method="post">
            <label for="adress">Адрес</label>
            <input type="text" name="adress" id="adress">
            <br><br>
            <label for="birthday">Дата рождения</label>
            <input type="text" name="birthday" id="birthday">
            <br><br>
            <label for="phone_number">Номер телефона</label>
            <input type="text" name="phone_number" id="phone_number">
            <br><br>
            <label for="surname">Фамилия</label>
            <input type="text" name="surname" id="surname">
            <br><br>
            <label for="signing_date">Дата подписания</label>
            <input type="text" name="signing_date" id="signing_date">
            <br><br>
            <label for="termination_date">Дата расторжения</label>
            <input type="text" name="termination_date" id="termination_date">
            <br><br>
            <input type="submit" class="button" value="Отправить">
            <input type="reset" class="button" value="Очистить">
            <br><br>
        </form>
        </div>
    </center>
    </div>
</body>
</html>